body {
    background-color: #fe0e66;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
    padding: 0 18px;

}
#HealthX
{
    color: #fae1ef;
}
.container-fluid{
    padding: 2% 15% 2% 30%;
    /* padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
}
.cont{
    padding-right: 30px;
}
#nl{
    margin-left: 300px;
    }
.nav-link{
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #fae1ef;
    margin-left: 20px;
    margin-right: 20px;
    
}
.nav-link:hover{
    color: #dce0ee; 
}
#nl{
margin-left: 500px;
}