body{
    background:radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%);
    
}

.navbar-brand{
    font-family: 'Caveat', cursive;
    font-size: 64px;
}

#healthx{
    font-family: 'Caveat', cursive;
}

.nav-link{
    font-size: 32px;
    margin-right: 10px;
}
nav{
    background:radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%);
       
}

.mt-5{
    background-color: aliceblue;
}