*{
    
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    display: flex;

}
form{
    margin: auto;
}
.container{

 
    
}
/* 
input[type='email'],input[type='password']{
    border: 1px solid black;
    height: 50px;
    padding: 0 2rem;
    width: 75%;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 10px;

} */