*{
    box-sizing: border-box;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-dismissable .close, .alert-dismissible .close {
    color: inherit;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
a {
    text-decoration: none;
}

a {
    background-color: transparent;
}
body{
    padding: 0;
    margin: 0;
    background:radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%); 
}

.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 710px;
}

.login-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #ffff;
    color: black;
    top: -25%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,50%);
    box-sizing: border-box;
    padding: 50px 15px ;
    border-radius: 10px;
    width: 400px;
}
.login-form-content{
    font-size: 18px;
}
.login-header{
    text-align: center;
}
input[type='text'],
input[type='password']{
    border:1px solid black;
    height:50px;
    padding: 0 2rem;
    width: 75%;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 10px;
}
button{
    width:75%;
    margin-bottom: 10px;
    border: none;
    background: radial-gradient(circle at 10% 20%, rgb(137, 247, 254) 0%, rgb(102, 166, 255) 90%); 
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform:uppercase;
    font-size: 20px;
    height: 50px;
}

.btn:hover{
    opacity: .7;
  
  }
.signup-form-footer{
    text-align: center;
}