<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dis_rem.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Medication Reminder</title>
</head>
<!-- <header>
  {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
 {% for category, message in messages %}
 {% if category== 'error' %}
 <div class="alert alert-danger alert-dismissible">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   <span>{{ message }}</span>
 </div>
 {% else %}
 <div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <span>{{ message }}</span>
</div>
{% endif %}
 {% endfor %}
 {% endif %}
 {% endwith %}
</header> -->
<body>
  <div class="sidebar"> 
  
    <div class="sidebar-head">
    <h1><span>HealthX</span></h1>
    </div>
    
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="/home" class="btn "><span class="las la-user-circle"></span>
            <span>Profile</span></a>
        </li>
        <li>
          <a href="/predict/" class="btn"><span class="las la-chart-line"></span>
            <span>Disease Predictor</span></a>
        </li>
        <li>
          <a href='/visualize' class="btn"><span class="las la-chart-bar"></span>
            <span>Disease Analysis</span></a>
        </li>
        <li>
          <a href="/medications/" class="btn"><span class="las la-bell"></span>
            <span>Medication Reminder</span></a>
        </li>
        <li>
            <a href="/dis_rem/" class="btn active"><span class="las la-bell"></span>
              <span>Show Reminders</span></a>
          </li>
        <li>
          <a href="/" class="btn"><span class="las la-sign-out-alt"></span>
            <span>Logout</span></a>
        </li>
      </ul>

    </div>
    
    </div>

    <div class="main-content">
        <table border="1">
            <tr>
                <th>Medicine</th>
                <th>Next_date</th>
                <th>End_Date</th>
                <th>Time</th>
            </tr>
            <h1>Reminders</h1>
            {% for j in some_data %}
            <tr>
                <td>{{j[0]}}</td>
                <td>{{j[1]}}</td>
                <td>{{j[2]}}</td>
                <td>{{j[3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    

    
    
</body>
</html>