<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="location.href='/dv1h'" type="button" class="btn">Disease Vs Count(Gender)</button>
            <button onclick="location.href='/dv2h'" type="button" class="btn">yearwise Death & Recovery</button>
            <button onclick="location.href='/dv3h'" type="button" class="btn">Year vs Recovered(Gender)</button>
            <button onclick="location.href='/dv4h'" type="button" class="btn">Death/Recover vs Age Group</button>
            <button onclick="location.href='/dv5h'" type="button" class="btn">Disease Vs Age Group</button> 
            <button onclick="location.href='/visualize'" type="button" class="btn">Back</button>
    <div class="container" style="margin-left: 20%">
        <img id="image" src="static\2.png" alt="GFG image" />
    </div>
</body>
</html>