<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Ubuntu&display=swap" rel="stylesheet">   
     <script src="https://kit.fontawesome.com/6f736b4fbb.js" crossorigin="anonymous" ></script>
     <!-- css -->
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <!-- <nav class="navbar bg-dark" data-bs-theme="dark">
        <div
          class="container-fluid"
          style="padding-left: 100px; padding-right: 100px"
        >
          <a class="navbar-brand" id="HealthX" href="#">Profile</a> 
            <a class="nav-link" id="nl" href="predictor_1.html">Disease predictor</a>
            <a class="nav-link" href="dv.html">Medication Analysis</a>
            <a class="nav-link" href="SignIn.html">Reminder</a>     
        </div>
      </nav> -->


      <div class="sidebar"> 
  
        <div class="sidebar-head">
        <h1><span>HealthX</span></h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="" class="btn active"><span class="las la-user-circle"></span>
                <span>Profile</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-chart-line"></span>
                <span>Disease Predictor</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-chart-bar"></span>
                <span>Disease Analysis</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-bell"></span>
                <span>Medication Reminder</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-sign-out-alt"></span>
                <span>Logout</span></a>
            </li>
          </ul>

        </div>
        
        </div>

        <div class="main-content">

          
        </div>
</body>
</html>