<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    
</head>
<body>
    <!-- <a href="/dv1h"><input type="button" value="button">Disease vs Death</a> -->
    <button onclick="location.href='/dv1h'" type="button" class="btn">Disease Vs Death</button>
    <button onclick="location.href='/dv2h'" type="button" class="btn">Disease Vs Death</button>
    <button onclick="location.href='/dv3h'" type="button" class="btn">Year Vs Death</button>
    <button onclick="location.href='/dv4h'" type="button" class="btn">Year Vs Recovered</button>
    <button onclick="location.href='/dv5h'" type="button" class="btn">Age Disease Vs Age</button>
</body>
</html>