<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/visualize.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="sidebar"> 
  
        <div class="sidebar-head">
        <h1><span>HealthX</span></h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="/home" class="btn "><span class="las la-user-circle"></span>
                <span>Profile</span></a>
            </li>
            <li>
              <a href="/predict/" class="btn"><span class="las la-chart-line"></span>
                <span>Disease Predictor</span></a>
            </li>
            <li>
              <a href='/visualize' class="btn active"><span class="las la-chart-bar"></span>
                <span>Disease Analysis</span></a>
            </li>
            <li>
              <a href="/medications/" class="btn"><span class="las la-bell"></span>
                <span>Medication Reminder</span></a>
            </li>
            <li>
              <a href="/dis_rem/" class="btn"><span class="las la-bell"></span>
                <span>Reminders</span></a>
            </li>
            <li>
              <a href="/" class="btn"><span class="las la-sign-out-alt"></span>
                <span>Logout</span></a>
            </li>
          </ul>

        </div>
        
        </div>

        <div class="main-content">
            <h1>View:</h1>
            <button onclick="location.href='/dv1h'" type="button" class="btnn">Disease Vs Count(Gender)</button><br>
            <button onclick="location.href='/dv2h'" type="button" class="btnn">yearwise Death & Recovery</button><br>
            <button onclick="location.href='/dv3h'" type="button" class="btnn">Year vs Recovered(Gender)</button><br>
            <button onclick="location.href='/dv4h'" type="button" class="btnn">Death/Recover vs Age Group</button><br>
            <button onclick="location.href='/dv5h'" type="button" class="btnn">Disease Vs Age Group</button> 
        </div>
    <!-- <a href="/dv1h"><input type="button" value="button">Disease vs Death</a> -->
</body>
</html>