<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
   
    
    <link rel="stylesheet" href="/static/visualize.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
    
    <div class="sidebar"> 
  
        <div class="sidebar-head">
        <h1><span>HealthX</span></h1>
        </div>
        
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href="" class="btn "><span class="las la-user-circle"></span>
                <span>Profile</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-chart-line"></span>
                <span>Disease Predictor</span></a>
            </li>
            <li>
              <a href="" class="btn active"><span class="las la-chart-bar"></span>
                <span>Disease Analysis</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-bell"></span>
                <span>Medication Reminder</span></a>
            </li>
            <li>
              <a href="" class="btn"><span class="las la-sign-out-alt"></span>
                <span>Logout</span></a>
            </li>
          </ul>

        </div>
        
        </div>

        <div class="main-content">
            
            <button onclick="location.href='/dv1h'" type="button" class="btn">Disease Vs Death</button>
            <button onclick="location.href='/dv2h'" type="button" class="btn">Disease Vs Death</button>
            <button onclick="location.href='/dv3h'" type="button" class="btn">Year Vs Death</button>
            <button onclick="location.href='/dv4h'" type="button" class="btn">Year Vs Recovered</button>
            <button onclick="location.href='/dv5h'" type="button" class="btn">Age Disease Vs Age</button>
          
        </div>
    <!-- <a href="/dv1h"><input type="button" value="button">Disease vs Death</a> -->
    
</body>
</html>